@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-image: url(../repeatBackgroundCrop.jpeg);
    background-repeat: repeat;
    background-color: #0d1516;
}

header {
    width: 100%;
    overflow: hidden;
    background-color: #0d1516;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: solid 1px #ca866e;
}

h1 {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Rochester', cursive;
    color: gainsboro;
    text-shadow: 3px 3px 10px black;
}

span {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 30px;
    right: 20px;
    font-size: 18pt;
    font-family: Optima, sans-serif;
}

a:link {
    margin-left: 20px;
    color: #ca866e;
    text-decoration: underline;
}

a:visited{
    color: white;
}

.about {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: auto;
    padding: 5px;
    border: solid 1px #ca866e;
    border-radius: 10px;
    font-size: 17pt;
    font-family: Optima, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: honeydew;
    background-color: #0d1516;
}

#submit-about {
    margin-left: 25%;
    margin-right: 25%;
}

#purchase-warning {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    width: auto;
    padding: 5px;
    border: solid 1px #ca866e;
    border-radius: 10px;
    font-size: 13pt;
    font-family: Optima, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: gainsboro;
    background-color: #0d1516;
}

.submit {
    margin-left: 30%;
    margin-right: 29%;
    text-align: center;
    width: auto;
    padding: 5px;
    border: solid 1px #ca866e;
    border-radius: 10px;
    font-size: 13pt;
    font-family: Optima, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: gainsboro;
    background-color: #0d1516;
}

h3 {
    margin-left: 37%;
    margin-right: 36%;
    width: auto;
    border: solid 1px #ca866e;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    padding: 20px;
    border-radius: 10px;
    background-color: #0d1516;
    color: cyan;
}

#sad {
    color: mediumpurple;
}

#angry {
    color: red;
}

.used {
    margin-left: 30%;
    margin-right: 29%;
    color: lemonchiffon;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

#sad-spirits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

#angry-spirits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

#used-spirits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

li {
    list-style: none;
    padding: 10px;
    border: solid 1px #ca866e;
    border-radius: 10px;
}

.spirit {
    margin: 7px;
    width: 250px;
    text-align: center;
    list-style: none;
    background-color: #0d1516;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 15px;
}

.spirit > p {
    margin: 10px;
    font-family: Optima, sans-serif;
    font-size: 14pt;
    color: white;
}

.spirit > button {
    margin-top: 10px;
    font-family: Optima, sans-serif;
    background-color: #ca866e;
    color: #0d1516;
    border-radius: 5px;
    width: 100px;
}

button:focus {
    background-color: #0d1516;
    color: #ca866e;
}

.dropDown {
    width: 40px;
    color: #ca866e;
    background-color: #0d1516;
    border: solid 1px #ca866e;
    border-radius: 5px;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 20px;
    background-color: #0d1516;
    border: solid 1px #ca866e;
    border-radius: 15px;
}

label {
    margin: 10px;
    display: grid;
    font-family: Optima, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: gainsboro;
    color: gainsboro;
    text-align: center;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 40px;
    color: #0d1516;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    background-color: #ca866e;
    border: solid 1px #ca866e;
    border-radius: 15px;
}

#spiritsubmit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    width: 170px;
    height: 40px;
    border: solid 1px #ca866e;
    border-radius: 10px;
    color: #ca866e;
    background-color: #0d1516;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
}

#spiritsubmit:focus {
    background-color: #ca866e;
    color: #0d1516;
}

