@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-image: url(../repeatBackgroundCrop.jpeg);
    background-repeat: repeat;
    background-color: #0d1516;
}

header {
    width: 100%;
    overflow: hidden;
    background-color: #0d1516;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: solid 1px #ca866e;
}

h1 {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Rochester', cursive;
    color: gainsboro;
    text-shadow: 3px 3px 10px black;
}

span {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 30px;
    right: 20px;
    font-size: 18pt;
    font-family: Optima, sans-serif;
}

a:link {
    margin-left: 20px;
    color: #ca866e;
    text-decoration: underline;
}

a:visited{
    color: white;
}

h3 {
    margin-top: 100px;
    width: 300px;
    border: solid 1px #ca866e;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    padding: 10px;
    border-radius: 10px;
    background-color: #0d1516;
    color: #ca866e;
}

table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

th {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18pt;
    color: #ca866e;
    background-color: #0d1516;
    border: solid 1px #ca866e;
}

tr {
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    
}

td {
    /* padding: 5px; */
    border: solid 1px #ca866e;
    background-color: #0d1516;
    font-size: 15pt;
}

img {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #ca866e;
    background-color: #0d1516;
}

.total {
    text-align: right;
    padding: 5px;
    color: white;
    background-color: #0d1516;
}

.unstyle {
    border: none;
    background-color: transparent;
}

button {
    float: right;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 170px;
    height: 40px;
    border: solid 1px #ca866e;
    border-radius: 10px;
    color: #ca866e;
    background-color: #0d1516;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
}