@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-image: url(../repeatBackgroundCrop.jpeg);
    background-repeat: repeat;
    background-color: #0d1516;
}

h1 {
    margin: 0;
    margin-left: 20px;
    display: flex;
    justify-content: left;
    font-size: 40pt;
    font-family: 'Rochester', cursive;
    color: gainsboro;
    text-shadow: 3px 3px 10px black;
}

header {
    overflow: hidden;
    background-color: #0d1516;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    
}

span {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 30px;
    right: 20px;
    font-size: 18pt;
    font-family: Optima, sans-serif;
}

a:link {
    color: #ca866e;
    text-decoration: none;
}

a:visited{
    color: white;
}

h3 {
    margin-top: 150px;
    width: 300px;
    border: solid 1px #ca866e;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    padding: 10px;
    border-radius: 10px;
    background-color: #0d1516;
    color: #ca866e;
}

table {
    margin-top: 20px;
    width: 100%;
}

td, th {
    border: solid 1px #ca866e;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

th {
    color: #ca866e;
    background-color: #0d1516;
}

.total {
    text-align: right;
    padding: 5px;
    color: #ca866e;
    background-color: #0d1516;
}

.unstyle {
    border: none
}

button {

}